/* Estilo principal para la página del carrito */
.cart-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    height: 70vh;
    padding-top: 150px;
    padding-bottom: 100px;
    width: 100vw;
}

/* Contenedor principal del contenido del carrito */
.cart-content {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #e4e4e4;
    width: 650px;
    font-family: 'Asap', sans-serif;
}

/* Título principal del contenido del carrito */
.cart-content h3{
    color: #9bbfc0;
    text-align: left;
    font-weight: 500;
}

/* Etiqueta para el total */
.label-total h3{
    color: #9a9a9a;
    text-align: left;
    font-weight: 400;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {

    .cart-content {
        width: 350px;
    }

}