@media  (min-width:300px) and (max-width:450px) {
  .message{
    width: 100%;
    font-family: "Inria sans";
    color: #7e858d;
    font-size: 9vw;
   }
  
  
}

@media screen and (min-width: 901px)  {
  .cupon-edit-view-container {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
  }

  .cupon-edit-view-tools {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas:
      "name name name name"
      "tools tools tools tools";
    width: 30vw;
    height: 80%;
  }
  .font-edit-tools {
    display: grid;
    grid-area: tools;
    grid-template-areas:
      "font     size     colorS  "
      "stickers stickers stickers";
    align-self: center;
    gap: 40px;
  }

  .Sticker-Component {
    display: grid;
    grid-area: stickers;
    align-items: center;
    justify-items: center;
    border: none;
    width: 100%;
  }

  .full-message {
    grid-area: stickers;
  }

  /*estilos para el selector de fuente*/
  .font-selector {
    background-color: #fff;
    grid-area: font;
    text-align: center;
    height: 8vh;
    font-size: 20px;
    border-color: black;
    width: 173px;
  }
  .font-selector option {
    background: #fff;
    color: #333;
    padding: 10px;
    font-size: 20px;
    border: none;
  }

  /*Estilos para el selector de tamaño*/
  .size-selector {
    background-color: #fff;
    grid-area: size;
    text-align: center;
    height: 8vh;
    border-color: black;
  }

  .font-selector option {
    background: #fff;
    color: #333;
    padding: 10px;
    font-size: 20px;
    border: none;
  }
  /*----------------------------------*/
  .color-selector {
    grid-area: colorS;
    width: 50px;
    height: 50px;
    background-color: rgba(206, 206, 206, 0);
    color: #151515;

    border-color: black;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -10px;
    background-color: #ffffff;
    justify-self: center;
  }
  .sticker-add-button {
    display: grid;
    grid-area: stickerButton;
    align-items: center;
  }

  .picker-container {
    position: fixed;
    top: 37vh;
    left: 32.5vw;

    opacity: 0;
    transform: translateY(-10px); /* Lo mueve hacia arriba */
    pointer-events: none; /* Evita interacción mientras está oculto */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    grid-area: colorP;
    width: min(
      20vw,
      200px
    ); /* El 20% del ancho de la ventana, pero no mayor de 200px */
    height: min(
      20vw,
      200px
    ); /* El 20% del ancho de la ventana, pero no mayor de 200px */
  }

  .picker-container.visible {
    opacity: 1; /* Hace visible el componente */
    transform: translateY(20); /* Vuelve a su posición original */
    pointer-events: auto; /* Permite interacción */
  }
  .cupon-category-name {
    justify-content: space-between;
    grid-area: name;
  }
  .alex-brush-text {
    font-family: "Alex Brush", sans-serif;
  }
  .handlee-text {
    font-family: "Handlee", cursive;
  }
  .cupon-image-container {
    width: 60vw;
  }
  .cupon-image {
    position: relative;
    object-fit: contain;
  }

  .first-cupon-image-placeholder {
    position: absolute;
    top: 40%;
    left: 53.2%;
    width: 17%;
    transform-origin: center;

    background: inherit;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: text;
    opacity: 0;
  }
  .second-cupon-image-placeholder {
    position: absolute;
    top: 40%;
    left: 73.4%;
    width: 12%;
    transform-origin: center;

    background: inherit;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: text;
    opacity: 0;
  }
  .third-cupon-image-placeholder {
    position: absolute;
    top: 46%;
    left: 55%;
    width: 30%;
    transform-origin: center;

    background: inherit;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: text;
    opacity: 0;
  }
  .btn-check {
    position: absolute;
    cursor: pointer;
    top: 54%;
    left: 62.4%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    height: 25px;
    width: 25px;
    color: transparent;
  }
  .canvas-cupon {
    width: 60vw;
  }
  .date-container {
    position: relative;
    top: -28%;
    z-index: 999999;
    left: 58%;
    width: 50px;
  }
}

/*Para un diseño horizontal de los elementos*/
@media screen and (min-width: 300px) and (max-width: 900px) and (orientation: landscape) {
  body {
    margin-top: 0 !important;
    overflow: hidden;
    width: 100%;
  }
  /* Estilos para dispositivos móviles en modo horizontal */
  .cupon-edit-view-container {
    display: flex;
    width: 100%;
    flex-direction: row;

    position: relative;
  }

  .cupon-edit-view-tools {
    position: relative;
    display: grid;
    top: 20%;
    grid-template-rows: 30% 70%;
    grid-template-areas: "tools tools tools tools";
    background-color: transparent;
    width: 19vw;
    height: 400%;
  }
  .font-edit-tools {
    position: absolute;
    display: grid;
    grid-area: tools;
    grid-template-areas:
      "font"
      "size"
      "colorS"
      "stickers"; /*Solo una fila de edicion para el cupon*/

    align-self: center;
    justify-content: space-around;
    gap: 3px;
    width: 60%;
  }

  .Sticker-Component {
    display: grid;
    grid-area: stickers;
    align-items: center;
    justify-items: center;
    border: none;
    width: 100%;
    background-color: #ffffffb4;
  }

  .full-message {
    grid-area: stickers;
  }

  /*estilos para el selector de fuente*/
  .font-selector {
    background-color: #ffffffb4;
    grid-area: font;
    text-align: center;
    height: 8vh;
    font-size: 20px;
    width: 80px;
    justify-self: center;

    border: none;
  }

  /*Estilos para el selector de tamaño*/
  .size-selector {
    background-color: #ffffffb4;
    grid-area: size;
    text-align: center;
    height: 8vh;
    border: none;
    width: 80px;
    justify-self: center;
  }

  /*----------------------------------*/
  .color-selector {
    grid-area: colorS;
    width: 50px;
    height: 50px;
    background-color: rgba(206, 206, 206, 0);
    color: #151515;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #ffffffb4;
    justify-self: center;
  }
  .picker-container {
    position: fixed;
    top: 40vh;
    left: 15.5vw;
    opacity: 0;
    transform: translateY(-10px); /* Lo mueve hacia arriba */
    pointer-events: none; /* Evita interacción mientras está oculto */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    grid-area: colorP;
    width: min(
      20vw,
      200px
    ); /* El 20% del ancho de la ventana, pero no mayor de 200px */
    height: min(
      20vw,
      200px
    ); /* El 20% del ancho de la ventana, pero no mayor de 200px */
  }

  .picker-container.visible {
    opacity: 1; /* Hace visible el componente */
    transform: translateY(20); /* Vuelve a su posición original */
    pointer-events: auto; /* Permite interacción */
  }
  .cupon-category-name {
    display: none; /*En version movil no necesito el titulo, minimizre todos los componentes*/
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    grid-area: name;
  }
  .alex-brush-text {
    font-family: "Alex Brush", sans-serif;
  }
  .handlee-text {
    font-family: "Handlee", cursive;
  }
  .cupon-image-container {
    width: 100vw; /*En moviles se usara todo el ancho de la pantalla*/
  }
  .cupon-image {
    position: relative;
    object-fit: contain;
  }

  .first-cupon-image-placeholder {
    position: absolute;
    top: 43%;
    left: 26.2%;
    width: 27%;
    transform-origin: center;

    background: inherit;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: text;
    opacity: 0;
  }
  .second-cupon-image-placeholder {
    position: absolute;
    top: 43%;
    left: 59.4%;
    width: 21%;
    transform-origin: center;

    background: inherit;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: text;
    opacity: 0;
  }
  .third-cupon-image-placeholder {
    position: absolute;
    top: 53%;
    left: 29%;
    width: 50%;
    height: 6%;

    transform-origin: center;

    background: inherit;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: text;
    opacity: 0;
  }
  .btn-check {
    position: absolute;
    cursor: pointer;
    top: 61%;
    left: 41%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    height: 31px;
    width: 27px;
    color: transparent;
  }
  .canvas-cupon {
    width: 100%;
    height: 100%;
  }
  .help-text {
    display: none;
  }
  .add-cart-button {
    position: absolute;
    top: 80%;
    left: 80%;
    z-index: 9999;
  }
  .Landscape-button {
    position: absolute;
    top: 78%;
    left: 55%;
    width: 50px;
    font-size: 10px;
  }
  .date-container {
    position: relative;
    top: -21%;
    left: 60%;
    width: 0%;
  }
  .dateInput {
    position: inherit;
  }
  .toogle-tool-div {
    position: relative;
    z-index: 9999;
    top: 58%;
    padding: 10px 10px;
    background-color: #ffffffb4;
    color: rgb(0, 0, 0);
    border: none;

    cursor: pointer;
    font-size: 10px;
    width: 40px;
  }
  .tools-container {
    position: absolute;
    z-index: 99999;
    top: 70%;
    display: flex;
    flex-direction: row-reverse;
  }
}
