.user-profile-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
    border: 1px solid #bababa; /* Línea de 1px */
    padding: 30px;
    border-radius: 10px;
    overflow-y: auto;
}

.user-account-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.user-profile-photo{
    display: flex;
    flex-direction: column;
    align-self: center;


}


.user-information-paths{
    display: flex;
    flex-direction: column;
}

.user-information-paths button{

    background-color: #ffffff;
    width: 140px;
    height: 65px;
    color: #474747;
    border: 1px solid #acacac;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px; /* Tamaño de fuente ajustado */
    font-weight: bold; /* Opcional: para hacer el texto más grueso */
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    transition: border 0.3s ease, color 0.3s ease, font-size 0.1s linear;
    cursor: pointer;
    margin-bottom: 10px;
}

.user-information-paths button:hover {
    border: 1px solid #131313;
    color: #1b1b1b;
}

.profile-picture {
    width: 200px; /* Tamaño de la imagen */
    height: 200px; /* Tamaño de la imagen */
    border-radius: 50%; /* Esto hace que la imagen sea redonda */
    object-fit: cover; /* Ajusta la imagen para que no se deforme */
    border: 2px solid #ddd; /* Opcional: Agrega un borde para estilizar */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: Agrega sombra */

}

.user-account-profile {
    width: 50%;
    padding: 20px;
    background-color: #ffffff; /* Fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #bababa; /* Línea de 1px */

}

.user-account-profile-name {
    font-size: 24px;
    font-weight: 600;
    color: #333; /* Texto oscuro */
    text-align: center;
    margin-bottom: 10px;
}

.user-profile-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-profile-field {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0; /* Línea divisoria */
}

.user-profile-field:last-child {
    border-bottom: none; /* Quitar línea en el último campo */
}

.user-profile-label {
    font-weight: bold;
    color: #555;
}

.user-profile-value {
    color: #777;
    text-align: right;
}

@media (max-width: 768px) {

    .user-profile-body{

        width: 350px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .user-information-paths button{

        background-color: #ffffff;
        width: 80px;
        height: 45px;
        font-size: 10px;

    }


    .user-account-profile-name {
        font-size: 18px;
        margin-bottom: 10px;
    }


    .user-profile-field {

        font-size: 10px;
        padding: 10px;

    }
}